<mat-toolbar
  color="primary"
  class="py-5 mb-4"
  style="width: 100%; display: flex; height: 5.5em"
>
  <span class="center">
    <h2>Dispute Request History</h2>
  </span>
  <span class="example-spacer"></span>
</mat-toolbar>
<mat-progress-bar
  style="margin-top: -2em"
  *ngIf="!isLoaded && !errorMessage"
  color="warn"
  mode="indeterminate"
></mat-progress-bar>

<div *ngIf="!isLoaded && !errorMessage">
  <p
    style="color: #dc3545; margin-left: 0.5em; font-size: 14px; margin-top: 5em"
  >
    Loading...
  </p>
</div>

<app-error-page
  *ngIf="errorMessage"
  [errorMessage]="errorMessage"
></app-error-page>


<div *ngIf="isLoaded" style="margin-left: 120px;margin-right:50px;margin-top: 50px;width: 85%;">
  
  <div fxLayout="row">
  <div fxLayout="column" fxFlex="50%">
    <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu"
    style="margin-right:auto">
    <mat-icon>more_vert</mat-icon> Advanced Search
  </button>
  <mat-menu #menu="matMenu" xPosition="after">
    <button mat-menu-item (click)="onToggleAdvancedSearch()">
      <mat-icon >{{!searchFormVisible ? 'search' : 'close'}}</mat-icon> <span style="color:#c51162;">{{!searchFormVisible ? 'Show Search Form' : 'Hide Search Form'}}</span>
    </button>
  </mat-menu>
  </div>
  <div fxLayout="column" fxFlex="50%">
    <button mat-button mat-raised-button color="primary" class="more-button"  
    style="margin-left:auto" (click)="navigateToCreateDisputeRequest()">
    <mat-icon>add</mat-icon>Create Dispute Request
  </button>
  </div>
  </div>

  <div *ngIf="searchFormVisible">
    <form [formGroup]="searchRequestForm" class="flex gap-4 justify-start items-center" style="width: 70%;margin-left: 2em;margin-top: 1em;margin-bottom: 1em;"
      (ngSubmit)="onSearchRequest()">
      <mat-form-field appearance="legacy" class="inline">
        <input matInput formControlName="cardHolderName" placeholder="Card Holder Name" />
        <button type="button" *ngIf="searchRequestForm.get('cardHolderName')?.value" matSuffix mat-icon-button
          aria-label="Clear" (click)="searchRequestForm.get('cardHolderName')?.reset()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field appearance="legacy">
        <mat-label>Transaction Date</mat-label>
        <input matInput formControlName="transactionDate" [matDatepicker]="picker">
        <button *ngIf="searchRequestForm.get('transactionDate')?.value" matSuffix mat-icon-button aria-label="Clear"
          (click)="searchRequestForm.get('transactionDate')?.reset()">
          <mat-icon>close</mat-icon>
        </button>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <div class="mat-form-field inline">
        <!-- <div class="mat-form-field-wrapper flex gap-4"> -->
        <mat-form-field appearance="legacy" class="inline">
          <!-- <mat-label>Select</mat-label> -->
          <input matInput formControlName="cardNumber" placeholder="Card Number" />
          <button *ngIf="searchRequestForm.get('cardNumber')?.value" matSuffix mat-icon-button aria-label="Clear"
            (click)="searchRequestForm.get('cardNumber')?.reset()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <!-- </div> -->
      </div>
      <div class="mat-form-field inline">
        <!-- <div class="mat-form-field-wrapper flex gap-4"> -->
        <mat-form-field appearance="legacy" class="inline">
          <input matInput formControlName="feNumber" placeholder="Fe Number" />
          <button *ngIf="searchRequestForm.get('feNumber')?.value" matSuffix mat-icon-button aria-label="Clear"
            (click)="searchRequestForm.get('feNumber')?.reset()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <!-- </div> -->
      </div>
      <div class="mat-form-field inline">
        <div class="mat-form-field-wrapper">
          <button mat-raised-button color="primary">
            <mat-icon>search</mat-icon> Find Dispute Request
          </button>
        </div>
      </div>
    </form>
  </div>

  <mat-tab-group color="primary" backgroundColor="primary" dynamicHeight>
    <mat-tab label="Dispute Requests">
      <div class="example-large-box mat-elevation-z2">

      <div style="width: 100%;margin-top: 1em;">
        <table mat-table [dataSource]="requestedDisputeRequests" matSort>
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
            <td mat-cell *matCellDef="let element; let i = index;">{{i+1}}</td>
          </ng-container>

          <ng-container matColumnDef="cardNumber">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Card Number</th>
            <td mat-cell *matCellDef="let element">{{ element.cardNumber }}</td>
          </ng-container>
          <ng-container matColumnDef="cardHolderName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Card Holder Name</th>
            <td mat-cell *matCellDef="let element">{{ element.cardHolderName | titlecase}}</td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Status
            </th>
            <td mat-cell *matCellDef="let element">
              <span
                [ngClass]="{initiation : element.status === 'INITIATION', processing : element.status === 'PROCESSING', approved:element.status === 'APPROVED', declined:element.status === 'DECLINED', received:element.status === 'RECEIVED', settled:element.status === 'SETTLED', reversed:element.status === 'REVERSED'}">{{
                element.status }}</span>
            </td>
          </ng-container>

          <ng-container matColumnDef="requestType">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Request Type</th>
            <td mat-cell *matCellDef="let element">
              <span *ngIf="element?.requestType === 'ENAT_ENAT'"
                [ngClass]="{onus:element?.requestType === 'ENAT_ENAT'}">ON US</span>
              <span *ngIf="element?.requestType === 'ENAT_ON_OTHER_BANK'"
                [ngClass]="{offus:element?.requestType === 'ENAT_ON_OTHER_BANK'}">OFF US</span>
              <span *ngIf="element?.requestType === 'OTHER_BANK_ON_ENAT'"
                [ngClass]="{otheronenat:element?.requestType === 'OTHER_BANK_ON_ENAT'}">OTHER ON ENAT</span>
              <span *ngIf="element?.requestType === 'NOT_FOUND_ON_SETTLEMENT'"
                [ngClass]="{notfound:element?.requestType === 'NOT_FOUND_ON_SETTLEMENT'}">NOT FOUND</span>
            </td>
          </ng-container>

          <ng-container matColumnDef="telephone">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Telephone
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.telephone }}
            </td>
          </ng-container>

          <ng-container matColumnDef="transactionDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Transaction Date
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.transactionDate | date:'mediumDate' }}
            </td>
          </ng-container>

          <ng-container matColumnDef="transactionAmount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Transaction Amount
            </th>
            <td mat-cell *matCellDef="let element">
              <code style="font-weight: 400;font-size: 14px;">ETB</code> {{ element.transactionAmount | number:'1.2-2'}}
            </td>
          </ng-container>

          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Update Dispute</th>
            <td mat-cell *matCellDef="let element; let i=index">
              <button [disabled]="(element.status !== 'INITIATION')" mat-button color="warn" id="edit" color="warn" (click)="onNavigateToEdit(element.id)"
                aria-label="Example icon button with a home icon">
                <mat-icon>update</mat-icon> Update
              </button>
            </td>
          </ng-container>

          <ng-container matColumnDef="details">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Details</th>
            <td mat-cell *matCellDef="let element; let i=index">
              <button mat-icon-button id="details" (click)="onNavigateToDetails(element.id)"
                aria-label="Example icon button with a home icon">
                <mat-icon>notes</mat-icon>
              </button>
            </td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

          <!-- Row shown when there is no matching data. -->
          <!-- <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4" class="text-danger">
              <p style="margin-left: 1em !important">
                No data matching the filter "{{ input.value }}"
              </p>
            </td>
          </tr> -->
        </table>

        <mat-paginator [length]="total" showFirstLastButtons (page)="pageChanged($event)" [pageIndex]="pageNumber"
          [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
      </div>
    </mat-tab>
 
  </mat-tab-group>
</div>