.center {
  width: 400px;
  height: 100px;
  /* background-color: lightblue; */
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
 margin-left: 32em !important;
  margin: auto;
}
