.chartContainer canvas {
    max-height: 250px;
    width: auto;
}

.chartContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}