<div fxLayout="row" fxLayoutAlign="center center">
    <div fxLayout="column">
        <h1><span style="font-weight: 600;font-size:30px;">Welcome Back, </span> {{fullName}} <span> 😀 </span></h1>
        <div style="align-content: left;" >
            <p><span style="font-weight: 600;">Username </span>: {{userName}}</p>
        <p><span style="font-weight: 600;">Branch Name</span>: {{branchName}}</p>
        <p><span style="font-weight: 600;">Branch Code</span>: {{branchCode}}</p>
        </div>
    </div>
</div>